<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông báo lỗi timesheet - Đi muộn</title>
    <style>
        body { font-family: Arial, sans-serif; font-size: 14px sollid; color: #333;}
        .container { padding: 15px; border: 2px solid #ddd; max-width: 600px; margin: 0 auto; background: lightyellow;
        border-radius: 5px;}
        .error-detail { color: #d9534f; font-weight: bold; font-size: 15px; }
    </style>
</head>
<body>
<div class="container">
    <p>Dear <b th:text="${username}"></b>, ID: <span th:text="${userId}"></span></p>
    <p>Khung làm việc: <span th:text="${workingShift}"></span></p>

    <br>

    <p>
        Hệ thống ghi nhận bạn **đi muộn/về sớm** vào ngày: <b th:text="${date}"></b>.
    </p>
    <p>
        Tổng thời gian trễ trong ngày:
        <span class="error-detail" th:text="${lateDuration}"></span>
    </p>

    <br>
    <p>Vui lòng lưu ý thời gian làm việc để đảm bảo đủ công trong tháng.</p>
</div>
</body>
</html>